<ion-content>
    <div class="list animate-rip">

        <div class="item item-divider">
            <p style="float:left">Eduardo Transportes</p>
            <p style="float:right">R$100,00</p>
        </div>
        <div class="item item-divider">
            <p style="float:left">Ricardinho Transportadora</p>
            <p style="float:right">R$5000,00</p>
        </div>
        <div class="item item-divider">
            <p style="float:left">Ricardinho Transportadora</p>
            <p style="float:right">R$5000,00</p>
        </div>
        <div class="item item-divider">
            <p style="float:left">Ricardinho Transportadora</p>
            <p style="float:right">R$5000,00</p>
        </div>

    </div>
</ion-content>